.bg-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card:hover {
    transform: scale(1.05);
    transition: ease 0.25s all;
}

.font-secondary {
    font-family: $font-family-serif;
}
