/* ----- ----- Fuentes ----- ----- */
$fuente-principal: 'Futura', sans-serif;
$fuente-secundaria: 'Oswald', sans-serif;

/* ----- ----- Colores ----- ----- */
$color-primario: #27606b;
$blanco: #fff;
$negro: #000;
$gris: #acacac;
